@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0ch;
}

html {
  font-size: 62.5%;
  color: white;
  font-family: "Press Start 2P";
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/*--CABECERA--*/

.header {
  background-color: rgb(156, 241, 169);
  width: 100%;
  height: auto;
  max-height: 70px;
  min-height: 30px;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 3;
}

.logo-name {
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}

#logo, #name {
  width: 100%;
  height: auto;
  max-width: 80px;
  min-height: 30px;
}

/*--CUERPO PRINCIPAL--*/

.main {
  background-image: linear-gradient(
    rgb(156, 241, 169),
    rgb(167, 194, 162),
    rgb(170, 147, 153),
    rgb(166, 97, 144),
    rgb(157, 31, 134)
  );
  width: 100%;
  height: auto;
  padding-bottom: 10%;
  overflow-x: hidden;
  margin-top: 3%;
}

/*--BARRA LATERAL--*/

.aside {
  position: fixed;
  background-color: #31244f;
  width: 100%;
  height: auto;
  max-height: 205px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15%;
  z-index: 2;
}

.opciones, .aside-extra div {
  height: auto;
  margin: 2rem 1.25rem;
  text-align: center;
}

.aside img {
  margin: 0%;
  width: 2vw;
}

.opciones a {
  color: white;
  text-decoration: none;
  font-size: 1.55vw;
}

.aside-extra a{
  color: white;
  text-decoration: none;
  font-size: 1vw;
}

.opciones a:hover, .aside-extra a:hover {
  color: rgb(156, 241, 169);
}

.opciones a:active, .aside-extra a:active {
  color: #d217b6;
}

.aside-extra {
  justify-content: center;
  display: flex;
}

/*--CONTENIDO PRINCIPAL--*/
.article {
  width: 100%;
  margin-top: 205px;
  font-size: 3vw;
  height: auto;
  
}
.profile-section {
  width: 100%;
  height: auto;
}

.profile-titles {
  margin-top: 5%;
  font-size: 3.5vw;
  height: auto;
  width: auto;
}

.profile-song-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.song {
  position: relative;
  width: 25vmin;
  height: 50%;
}

.song p{
  width: 100%;
  height: 100%;
  padding: 2%;
  font-size: 75%;
}

.song audio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  opacity: 0%;
  transition: transform 0.2s;
}

.song audio:hover {
  opacity: 80%;
  border: 3px dashed #31244f;
  transform: scale(1.1);
  z-index: 2;
}

.song img {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  border: 2px solid white;
}

.profile-artists-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.artist {
  width: 25vmin;
  height: 50%;
}

.artist a{
  color: white;
  text-decoration: none;
}

.artist img {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  border: 2px solid white;
}