@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0ch;
}

html {
  font-size: 62.5%;
  color: white;
  font-family: "Press Start 2P";
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/*--CABECERA--*/

.header {
  background-color: rgb(156, 241, 169);
  width: 100%;
  height: auto;
  max-height: 70px;
  min-height: 30px;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 3;
}

.logo-name {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}

#logo, #name{
  width: 100%;
  height: auto;
  max-height: 80px;
  min-height: 30px;
}

.login-signup {
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 15%;
}

#login, #signup {
  margin: 5%;
}

#login a, #signup a {
  font-size: 1.75vw;
  text-decoration: none;
  color: #31244f;
}

.pfp-menu{
  width: 100%;
  height: auto;
  max-height: 70px;
  align-items: center;
  margin-left: 50%;
}

.profile-img {
  margin-bottom: 5%;
  margin-top: 2%;
  margin-left: 20%;
}

.profile-thumb {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0.25vw 0.5vw 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 0;
  padding: 1%;
  height: 50%;
  width: 50%;
}

.collapsible {
  position: absolute;
  top: 2%;
  height: 5%;
  right: 10%;
  cursor: pointer;
  padding: 4% 3%;
  opacity: 0;
}

.pmenu{
  position: absolute;
  width: 90%;
  overflow: hidden;
  background-color: rgb(157, 31, 134);
  display: none;
}

.pmenu-opciones{
  height: auto;
  padding: 1% 1%;
  text-align: left;
}

.pmenu-opciones a {
  color: white;
  text-decoration: none;
  font-size: 1.0vw;
}
.pmenu img {
  width: 2vw;
}
.upload {
  bottom: -10px;
  position: absolute;
  right: 0;
}

.upload img {
  cursor: pointer;
}

.file-upload {
  display: none !important;
}

.upload-button {
  width:32px;
  height:32px;
  background: #FFF;
  border-radius:50%;
  border:2px solid #CCC;
}

.upload-button img {
  width: 22px;
  height: 22px;
  padding:5px 0 0 5px;
}



/*--CUERPO PRINCIPAL--*/

.main {
  background-image: linear-gradient(rgb(156, 241, 169),
      rgb(167, 194, 162),
      rgb(170, 147, 153),
      rgb(166, 97, 144),
      rgb(157, 31, 134));
  width: 100%;
  height: auto;
  padding-bottom: 10%;
  overflow-x: hidden;
}

/*--BARRA LATERAL--*/
.aside {
  position: absolute;
  background-color: #31244f;
  width: 100%;
  height: auto;
  max-height: 205px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15%;
  z-index: 2;
}

.opciones, .aside-extra div{
  height: auto;
  margin: 2rem 1.25rem;
  text-align: center;
}

.aside img {
  margin: 0%;
  width: 2vw;
}

.opciones a, .aside-extra a{
  color: white;
  text-decoration: none;
  font-size: 1.55vw;
}

.opciones a:hover, .aside-extra a:hover {
  color: rgb(156, 241, 169);
}

.opciones a:active, .aside-extra a:active {
  color: #d217b6;
}

.aside-extra {
  justify-content: center;
  display: flex;
}


/*--CONTENIDO PRINCIPAL--*/
.article {
  width: 100%;
  height: auto;
  margin-bottom: 30%;
  font-size: 1.5vw;
  margin-top: 205px;
}

.article-albums {
  width: 100%;
  height: auto;
}

.article-titles {
  margin-top: 5%;
  font-size: 3.5vw;
  height: auto;
  width: auto;
}

.album-type {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song {
  position: relative;
  padding: 2.5%;
  width: 20vh;
  height: auto;
  text-align: center;
}

.song audio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  opacity: 0%;
  transition: transform 0.2s;
}

.song audio:hover {
  opacity: 80%;
  border: 3px dashed #31244f;
  transform: scale(1.1);
  z-index: 2;
}

.article-albums img {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  border: 2px solid white;
}

/*--PIE DE PAGINA--*/
.footer {
  display: none;
  position: fixed;
  background-color: rgb(157, 31, 134);
  width: 100%;
  max-height: 15%;
  height: auto;
  padding: 2.5%;
  text-align: center;

  bottom: 0%;
  z-index: 2;
}

.footer p {
  margin: 2%;
  font-size: 2vw;
}