  
 /*--------------------------------------------------CABECERA---------------------------------------------------------------*/
 
 .header {
    width: 100%;
    height: 10%;
  }
/*------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------BARRA LATERAL---------------------------------------------------------------*/
  .aside {
    width: 25%;
    height: auto;
    left: 0%;
    top:0%;
  }
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------CONTENIDO PRINCIPAL-------------------------------*/
  .article {
    width: 75%;
  }
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
  .footer {
    width: 100%;
    height: 10%;
  }
/*------------------------------------------------------------------------------------------------*/