  
 /*--------------------------------------------------CABECERA---------------------------------------------------------------*/
  .header {
    max-height: 120px;
    min-height: 50px
  }

  .logo-name {
    width: 60%;
  }

  #logo {
    max-width: 115px;
    max-height: 100px;
  }

  #name {
    max-width: 115px;
    max-height: 100px;
  }

  .login-signup div a {
    font-size: 1.5vw;
  }
/*------------------------------------------------------------------------------------------------*/
  .main {
    padding-top: 10%;
  }
/*--------------------------------------------------BARRA LATERAL---------------------------------------------------------------*/
  .aside {
    padding: 5%
  }

  .aside div {
    margin: 5%;
    margin-top: 5%;
  }

  .aside div a {
    font-size: 1vw;
  }

  .aside-extra {
    top:50%;
  } 
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------CONTENIDO PRINCIPAL-------------------------------*/
  .article {
    width: 75%;
  }

  .article-titles {
    margin-top: 2%;
    font-size: 2vw;
  }
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
  .footer {
    width: 100%;
    height: 10%;
  }

  .footer p {
    margin: 0%;
    font-size: 1vw;
  }
/*------------------------------------------------------------------------------------------------*/