  
 /*--------------------------------------------------CABECERA---------------------------------------------------------------*/
  .header {
    max-height: 135px;
    min-height: 50px;
  }

  .logo-name {
    width: 60%;
  }

  #logo {
    max-width: 150px;
    max-height: 155px;
  }

  #name {
    max-width: 150px;
    max-height: 145px;
  }

  .login-signup div a {
    font-size: 1.5vw;
  }
/*------------------------------------------------------------------------------------------------*/
  .main {
  }
/*--------------------------------------------------BARRA LATERAL---------------------------------------------------------------*/
  .aside {
    padding: 2%;
    width: 25%;
  }

  .aside div {
    margin: 7.5%;
    margin-top: 5%;
  }

  .aside div a {
    font-size: 1vw;
  }

  .aside-extra {
    top:50%;
  } 
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------CONTENIDO PRINCIPAL-------------------------------*/
  .article {
    width: 75%;
    margin-left: 25%;
    height: auto;
    margin-bottom: 0%;
  }

  .article-titles {
    margin-top: 2%;
    font-size: 2vw;
  }

  .album-type {
    justify-content: left;
  }
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
  .footer {
    width: 100%;
    height: 10%;
  }

  .footer p {
    margin: 0%;
    font-size: 1vw;
  }
/*------------------------------------------------------------------------------------------------*/