@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0ch;
}

html {
  font-size: 62.5%;
  color: white;
  font-family: "Press Start 2P";
}
/*
main {
  background-image: linear-gradient(
    rgb(156, 241, 169),
    rgb(167, 194, 162),
    rgb(170, 147, 153),
    rgb(166, 97, 144),
    rgb(157, 31, 134)
  );
}
*/
.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: rgb(156, 241, 169);
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.logo-name{
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #31244f;
}

.logo-name img {
  width: 100%;
  height: auto;
}

.logo {
  width: 50%;
  height: auto;
}

.logo {
  margin-top: 20%;
}

.name {
  width: 50%;
  height: 100%;
}

.name img {
  margin-top: 85%;
}

.login-signup {
  width: 60%;
}

.login-signup div{
  float:right;
}



.main {
  background-image: linear-gradient(
    rgb(156, 241, 169),
    rgb(167, 194, 162),
    rgb(170, 147, 153),
    rgb(166, 97, 144),
    rgb(157, 31, 134)
  );
  width: 100%;
  height: auto;
}
.aside {
  background-color: #31244f;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aside div {
  height: auto;
  width: auto;
  margin: 1rem 0.5rem;
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.aside div div {
  padding: 0%;
  margin: 1rem 0.5rem;
}

.aside div img {
  margin: 0%;
  width: 2vw;
}

.aside div p {
  color: white;
  font-size: 1.55vw;
}

.article {
  width: 100%;
  height: auto;
}

.footer {
  background-color: rgb(157, 31, 134);
  width: 100%;
  height: auto;
}

/*-----------------------------V1-------------------------------*/
/*
#header-main {
  position: fixed;
  z-index: 2;
  background: rgb(156, 241, 169);
  width: 100%;
  margin-left: 25%;
  height: 10%;
}
*/
/*-----------------------------PIE DE PAGIN-------------------------------*/
/*
#footer-main {
  z-index: 2;
  background: rgb(157, 31, 134);
  color: white;
  font-size: 1.75vmin;
  position: fixed;
  display: block;
  text-align: center;
  width: 100%;
  height: 10%;
  bottom: 0%;
}

.footer-main-div {
  list-style: none;
  padding-left: 10%;
}

.footer-main-div_item {
  display: inline-block;
}

.footer-main-div_item a {
  color: white;
  padding: 0%;
  text-decoration: none;
}

.footer-main-div_item a:hover {
  color: rgb(156, 241, 169);
}

.footer-main-div_item a:active {
  color: #d217b6;
}

.footer-main-div_item a::after {
  content: " | ";
}
*/
