@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0ch;
}

html {
  font-size: 62.5%;
  color: white;
  font-family: "Press Start 2P";
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/*--------------------------------------------------CABECERA---------------------------------------------------------------*/

.header {
  background-color: rgb(156, 241, 169);
  width: 100%;
  height: auto;
  max-height: 100px;
  min-height: 30px;
  display: flex;
  flex-wrap: nowrap;
  position:fixed;
  z-index: 2;
}

.logo-name {
  width: 40%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}

#logo {
  width: 100%;
  height: auto;
  max-width: 80px;
  min-height: 30px;
}

#name {
  width: 100%;
  height: auto;
  max-width: 80px;
  min-height: 30px
}

.login-signup {
  width: 60%;
  height: auto;
  display: flex;
  margin-left: 20%;
}

.login-signup div {
  margin: 10%;
}

.login-signup div a {
  font-size: 2vw;
}
/*------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------CUERPO PRINCIPAL---------------------------------------------------------------*/

.main {
  position: absolute;
  background-image: linear-gradient(
    rgb(156, 241, 169),
    rgb(167, 194, 162),
    rgb(170, 147, 153),
    rgb(166, 97, 144),
    rgb(157, 31, 134)
  );
  width: 100%;
  height: auto;
  padding-bottom: 15%;
}
/*------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------BARRA LATERAL---------------------------------------------------------------*/
.aside {
  background-color: #31244f;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15%;
}

.aside div {
  height: auto;
  width: auto;
  margin: 1rem 0.5rem;
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.aside div div {
  padding: 0%;
  margin: 1rem 0.5rem;
}

.aside div img {
  margin: 0%;
  width: 2vw;
}

.aside div p {
  color: white;
  font-size: 1.55vw;
}
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------CONTENIDO PRINCIPAL-------------------------------*/
.article {
  margin: 5%;
  width: 100%;
  height: auto;
}

.article-albums {
  width: 100%;
  height: auto;
  display: block;
}

.article-titles {
  font-size: 3.5vmin;
  height: auto;
  width: auto;
}

.album-type {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-type div {
  padding: 2.5%;
  width: auto;
  max-height: 200px;
  min-height: 100px;
  text-align: center;
}

.article-albums img {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  transition: transform 0.2s;
  background: rgba(0, 0, 0, 0.5);
}

.article-albums img:hover {
  transform: scale(1.1);
  opacity: 70%;
}

/*------------------------------------------------------------------------------------------------*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
.footer {
  background-color: rgb(157, 31, 134);
  width: 100%;
  max-height: 15%;
  height: auto;
  font-size: 1rem;
  padding: 2.5%;
  text-align: center;
  position: fixed;
  bottom: 0%;
  z-index: 2;
  
}

.footer p {
  margin: 2%;
}

/*------------------------------------------------------------------------------------------------*/
/*-----------------------------V1-------------------------------*/
/*
#header-main {
  position: fixed;
  z-index: 2;
  background: rgb(156, 241, 169);
  width: 100%;
  margin-left: 25%;
  height: 10%;
}
*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
/*
#footer-main {
  z-index: 2;
  background: rgb(157, 31, 134);
  color: white;
  font-size: 1.75vmin;
  position: fixed;
  display: block;
  text-align: center;
  width: 100%;
  height: 10%;
  bottom: 0%;
}

.footer-main-div {
  list-style: none;
  padding-left: 10%;
}

.footer-main-div_item {
  display: inline-block;
}

.footer-main-div_item a {
  color: white;
  padding: 0%;
  text-decoration: none;
}

.footer-main-div_item a:hover {
  color: rgb(156, 241, 169);
}

.footer-main-div_item a:active {
  color: #d217b6;
}

.footer-main-div_item a::after {
  content: " | ";
}
*/
