/*--------------------------------------------------CABECERA---------------------------------------------------------------*/

.header {
  width: 100%;
  height: auto;
  max-height: 100px;
  min-height: 40px;
  display: flex;
  flex-wrap: nowrap;
  position:fixed
}

.logo-name {
  width: 80%;
  height: auto;
}

#logo {
  max-width: 100px;
}

#name {
  max-width: 100px;
}

.login-signup {
  margin-left: 20%;
}

.login-signup div {
  margin: 10%;
}

.login-signup div a {
  font-size: 1vw;
}

/*------------------------------------------------------------------------------------------------*/
.main {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 7.5%;
  padding-bottom: 0%;
}
/*------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------BARRA LATERAL---------------------------------------------------------------*/
.aside {
  position: fixed;
  width: 30%;
  height: 100%;
  display: block;
  justify-content: center;
  padding: 5%;
}

.aside div {
  width: auto;
  margin: 1%;
  margin-top: 40%;
}

.aside div a {
  font-size: 1.4vw;
}

.aside-extra {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top:50%;
  left: 0%;
}


/*------------------------------------------------------------------------------------------------*/
/*-----------------------------CONTENIDO PRINCIPAL-------------------------------*/
.article {
  width: 70%;
  margin-left: 31%;
  font-size: 1vw;
}

.article-titles {
  margin-top: 10%;
  font-size: 2vw;
}
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
.footer p{
  margin: 2%;
  font-size: 2vw;
}
/*------------------------------------------------------------------------------------------------*/
