/*--------------------------------------------------CABECERA---------------------------------------------------------------*/

.header {
  width: 100%;
  height: 10%;
}
/*------------------------------------------------------------------------------------------------*/
.main {
    width: 100%;
    height: auto;
    display: flex;
}
/*------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------BARRA LATERAL---------------------------------------------------------------*/
.aside {
  width: 30%;
  display: block;
  justify-content: center;
}

.aside div {
    width: auto;
}

.aside div p {
  font-size: 1vw;
}

.aside div div img {
  width: 1vw;
}

/*------------------------------------------------------------------------------------------------*/
/*-----------------------------CONTENIDO PRINCIPAL-------------------------------*/
.article {
  width: 70%;
}
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
.footer {
}
/*------------------------------------------------------------------------------------------------*/