/*--------------------------------------------------CABECERA---------------------------------------------------------------*/

.header {
  width: 100%;
  height: 10%;
}
/*------------------------------------------------------------------------------------------------*/
.main {
    width: 100%;
    height: auto;
    display: flex;
}
/*------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------BARRA LATERAL---------------------------------------------------------------*/
.aside {
  width: 30%;
  left: 0%;
  top: 0%;
  display: block;
  justify-content: center;
}

.aside div {
    width: auto;

}
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------CONTENIDO PRINCIPAL-------------------------------*/
.article {
  width: 70%;
}
/*------------------------------------------------------------------------------------------------*/
/*-----------------------------PIE DE PAGINA-------------------------------*/
.footer {
  width: 10%;
  height: 10%;
}
/*------------------------------------------------------------------------------------------------*/